<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuanLyChungCu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CSDL" connectionString="metadata=res://*/CSDL.csdl|res://*/CSDL.ssdl|res://*/CSDL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VT-PGH\SQLEXPRESS;initial catalog=qlchungcu;user id=sa;password=641719;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <QuanLyChungCu.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="check" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="backcolor" serializeAs="String">
        <value>Plum</value>
      </setting>
    </QuanLyChungCu.Properties.Settings>
  </userSettings>
</configuration>